body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
#input-field{
  border: 1px solid #157347;
}
#input-field:hover {
  background-color: #ddecf1;
}
#search-btn {
  background-color: #3fb37d;
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  grid-gap: 20px;
  text-align: center;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  background-color: #ddecf1;
}
.single-product:hover {
  background-color: #99d4e7;
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid #4c8fa5;
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  padding: 10px;
  border-radius: 5px;
  margin-right: 30px;
  background-color: #ddecf1;
  position: fixed;
}
.cart:hover {
  background-color: #99d4e7;
  box-shadow: 10px 10px 20px gray;
}
.cart-main {
  padding-right: 30px;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
